html {
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    font-size: 15px;
}
body {
    margin: 0;
    padding-top: 5%;
}
h1{
    color: #ffffff;
    font-size: 35px;
}
h2{
    color: #333333;
    font-size: 20px;
}
h3{
    font-size: 18px;
}
a:link {
    color: #012348;
}
a:visited {
    color: #023164;
}
a:hover {
    color: #034a96;
}
a:active {
    color: #012348;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
    background-color: #012348;
    padding-left: 5%;
}
nav{
    font-size: 20px;
}
nav a:link {
    color: #ffffff;
    text-decoration: none;
}
nav a:visited {
    color: #ffffff;
    text-decoration: none;
}
nav a:hover {
    color: #ffffff;
    text-decoration: none;
}
nav a:active {
    color: #ffffff;
    text-decoration: none;
}

#gameContainer{
    background-color: #024a97;
    padding: 1%;
}
#gameDescription{
    padding: 1%;
}
#gameDescription section{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 0%;
}
#techSMCImage{
    text-align: center;
}

footer{
    text-align: center;
    font-size: 12px;
}