        <footer>
            <p>Készítette: Sándor Balázs</p>
            <p>ELTE IK</p>
        </footer>
		<script src="node_modules/jquery/dist/jquery.js"></script>
		<script src="node_modules/backbone/backbone.js"></script>
        <script src="app/model.js"></script>
		<script src="app/view.js"></script>
        <script type="text/template" id="gameTable-template"></script>
    </body>
</html>