        <% include sys/header %>
        <section id="gameContainer">
            <article id="gameArticle">
                <table id="gameTable"></table>
                 <img src="app/images/pipe01.png" alt="Minta kép"> 
            </article>
        </section>
<% include gameDescription %>
<% include sys/footer %>